.infoBar {
  width: 100%;
  height: 55px;
  min-height: 55px;
  position: absolute;
  background: #0b9ed9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}

.nameRoom {
  margin-left: 1rem;
  text-transform: uppercase;
}

.leaveRoom {
  margin-right: 1rem;
}

.leaveRoom a {
  color: white;
  text-decoration: none;
}

.usersInRoom {
  display: none;
}

@media (max-width: 450px) {
  .usersInRoom {
    display: block;
    cursor: pointer;
  }
}
